#neptun-logo {
    display: block;
    margin: 0 auto;
    height: 40%;
    width: 50%;
    padding: 5%;
}

#login {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

input {
    width: 100%;
}

fieldset{
    padding: 5%;
    border: 1px dotted black;
}

legend {
    text-align: center;
}

.logout{
    cursor: default;
}

#add_course{

    margin: 0 auto;
    width: 50%;
    height: 50%;
    padding: 5%;
}
