<form id="course">
    <div class="form-group">
        <input id="_code" class="form-control" type="text" name="_code" placeholder="Kurzus kódja" required>
    </div>
    <div class="form-group">
        <input id="_name" class="form-control" type="text" name="_name" placeholder="Kurzus neve" required>
    </div>
    <div class="form-group">
        <input id="_credit" class="form-control" type="number" name="_credit" placeholder="Kreditszám">
    </div>
    <div class="form-group">
        <input id="_type" class="form-control" type="text" name="_type" placeholder="Típus" required>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" id="submit_course" value="Kurzus felvétele" required>
    </div>
</form>
